<html xmlns:th="http://www.thymeleaf.org">

<body>
	<link href="/css/style_producEdit.css" rel="stylesheet" type="text/css" />
	<div th:replace="~{include/top}"></div>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script>
		function listK() {
			f1.action = "/product/productList"
		}
	</script>

	<section>
		<br>
		<div align="center">

			<h1>상품주문하기</h1>
			<form name="f1" action="/product/cartInsert" method="post">
			

				<table>
					<input type="hidden" name="pid" th:value="${m.pid}" />
					<input type="hidden" name="pimgStr" th:value="${m.pimgStr}" />
					<input type="hidden" name="pname" th:value="${m.pname}" />
					<input type="hidden" name="pename" th:value="${m.pename}" />
					<input type="hidden" name="pprice" th:value="${m.pprice}" />
					<tr>
						<!-- 좌측 이미지 -->
						<td rowspan="7" class="product-image">
							<img th:if="${m.pimgStr != null and #strings.startsWith(m.pimgStr, 'http')}"
								th:src="${m.pimgStr}" width=150 height=150 />
							<img th:if="${m.pimgStr != null and !#strings.startsWith(m.pimgStr, 'http')}"
								th:src="@{/product/files/}+${m.pimgStr}" width=150 height=150 />
							<br><br>
							<label>개수 선택:</label>
							<input type="number" name="amount" placeholder="직접 입력" />
						</td>
						<!-- 상품 이름 -->
						<td class="product-name">
							<h2 th:text="${m.pname}"></h2>
							<a th:text="${m.pename}"></a>
							<hr>
						</td>
					</tr>
					<tr>
						<!-- 상품 설명 -->
						<td class="product-desc">
							<a th:text="${m.pdesc}"></a>
						</td>
					</tr>
					<tr>
						<!-- 제품 영양 정보 -->
						<td class="product-info">
							<hr>
							<h3>제품 영양 정보</h3>
							<p><span th:text="${m.psize}"></span></p>
						</td>
					</tr>
					<tr>
						<!-- 상품 가격과 개수 선택 -->
						<td class="product-price">
							<hr>
							<label>상품 가격: </label>
							<span th:text="${m.pprice}">상품 가격</span> 원
						</td>
					</tr>
					<tr>
						<!-- 알레르기 정보 -->
						<td class="product-allergy">
							<span th:text="${m.pinfo}"></span>
						</td>
					</tr>
					<tr>

					</tr>
					<tr>
						<!-- 버튼 -->
						<td colspan="2" class="product-actions" align="center">
							<br>
							<input type="submit" value="상품주문하기" />
							<input type="submit" value="상품목록보기" onClick="listK()" />
						</td>
					</tr>
				</table>


			</form>

		</div>
		<br>
	</section>

	<div th:replace="~{include/bottom::footer}"></div>
</body>

</html>