<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.majustory.product.ProductDao">

	<select id="pid" resultType="int">
		select idx.nextval from dual
	</select>

	<select id="list" resultType="com.majustory.product.ProductVO">	  
	    select rownum , K.*
		from
		( select rownum as rnum , P.*
		  from
		  (select pid, pname, pename, pprice, pdesc, pinfo, pimg as pimgStr , psize, cnt 
	       from  product ) P
		  where 1=1
		<if test="ch1 == 'pname'">
			and pname like '%'||#{ch2}||'%'
		</if>
		<![CDATA[
	         and ROWNUM <= #{start} + #{pageSize}-1  
	         ) K 
		     where rnum >=#{start}
		 ]]>
	</select>

	<select id="edit" resultType="com.majustory.product.ProductVO">
	 <![CDATA[
	     select pid, pname, pename, pprice, pdesc, pinfo, pimg as pimgStr , psize, cnt 
	     from  product where pid = #{pid}
	  ]]>
	</select>


	<insert id="insert">
	 <![CDATA[
	    insert into product(pid,pname,pprice,pdesc,pimg) 
	    values (#{pid},#{pname},#{pprice},#{pdesc},#{pimgStr})
	  ]]>
	</insert>

	<insert id="cartInsert">
	 <![CDATA[
	    insert into cart(cid,pname,pprice,pimg, amount ) 
	    values (idx.nextval,#{pname},#{pprice},#{pimgStr}, #{amount})
	  ]]>
	</insert>

	<select id="cartList"
		resultType="com.majustory.product.ProductVO">
	 <![CDATA[
	     SELECT MIN(cid) AS cid, pname, sum(pprice) as pprice,
		    MAX(pimg) AS pimgStr, SUM(amount) AS amount
		FROM cart GROUP BY pname
		ORDER BY cid ASC	
	  ]]>
	</select>


	<delete id="cartDel">
	 <![CDATA[
	    delete  from cart where cid = #{cid} 
	  ]]>
	</delete>
	
	<select id="totalcount"
		parameterType="com.majustory.product.ProductVO" resultType="int">
		SELECT count(
		DISTINCT pname)
		FROM product
	</select>
</mapper>