<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<title>마주스토리</title>

<link href="/css/style.css" rel="stylesheet" type="text/css" />
<link href="/css/top.css" rel="stylesheet" type="text/css" />
	
</head>
<body>
<span sec:authorize="isAuthenticated">
<b><span sec:authentication="principal.username"></span> 님 환영합니다.</b> &emsp;
<a href="/login/logOut"> 로그아웃 </a> &emsp;

<a sec:authorize="hasRole('ROLE_ADMIN')">관리자 관리 영역</a>
</span>
<header>
	<div class="header-text"> makeCoffee 쇼핑몰 </div>
<nav>

<a href="/product/productForm"> 상품등록 </a> 
<a href="/product/productList"> 상품목록보기 </a> 

<a href="/product/cartList"> 장바구니 </a>

<a href="/chatGPT/start"> ChatGPT 시작 </a> 

<a href="/index">홈으로</a> 

<th:block th:if="${session.USERNAME == null }">
    <a href="/login/loginForm"> 로그인 </a> &emsp;&emsp;
</th:block>


</nav>
</header>
</body>