@charset "EUC-KR";

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.form-container {
    width: 80%;
    margin: 30px auto;
    background: #fff;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

fieldset {
    margin-bottom: 20px;
    padding: 20px;
}

legend {
	text-align: left;
	font-size: 15px;
    font-weight: bold;
    color: rgb(24, 24, 24);
    margin-bottom: 10px;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

label {
    width: 20%;
	font-size: 14px;
    font-weight: bold;
    text-align: left;
    margin-left: 3%;
	margin-right: 2%;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    flex: 1;
	width: 90%;
    padding: 10px;
    border: none;
	border-bottom: 1px solid #ccc;
    outline: none;
    font-size: 14px;
}

.phone-row,
.email-row {
    display: flex;
    gap: 10px;
}

/* 회원 유형 선택 버튼 */
.role-container {
    display: flex;
    gap: 10px; 
    align-items: center;
    justify-content: space-between;
    width: 70%; 
}

input[type="radio"] {
    display: none; /* 기본 라디오 버튼 숨기기 */
}

.role-option {
    flex: 1; 
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
    background-color: #fff; 
    color: #252E40; 
    border: 1px solid #252E40; 
    border-radius: 5px; 
    cursor: pointer;
    transition: all 0.3s ease; /* 클릭 및 호버 전환 효과 */
}

/* 버튼 클릭 시 효과 */
input[type="radio"]:checked + .role-option {
    background-color: #252E40; 
    color: #fff; 
    border-color: #252E40; 
}

/* 호버 효과 */
.role-option:hover {
    background-color: #f0f0f0; /* 마우스 오버 시 연한 회색 */
}



.btn-large {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #252E40;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-large:hover {
    background-color: #1e2533;;
}

.role-select {
    display: flex;
    gap: 10px;
}

.role-select label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.error-message {
    margin-left: 10px;
    font-size: 12px;
    color: red;
}


