@charset "EUC-KR";
body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333333; /* 기본 텍스트 색상 */
  background-color: #FFFFFF; /* 밝은 베이지 배경 */
}

header {
  display: flex;
  justify-content: space-between; /* 로고와 네비게이션을 좌우로 배치 */
  align-items: center;
  padding: 10px 20px;
  background: #FFFFFF; 
  color: #252E40;
  border-bottom: 1px solid #EAEAEA; /* 구분선 */
  border-top: 1px solid #EAEAEA; /* 구분선 */
}

header .header-text {
  font-size: 20px;
  font-weight: bold;
}

header nav {
  margin-left: auto; /* 네비게이션을 오른쪽으로 이동 */
}

header nav a {
  margin: 0 15px;
  color: #252E40;
}

nav a:hover {
  color: #BF5E49; /* 골드 톤 호버 */
}

section {
  background: #FFFFFF; /* 흰색 섹션 배경 */
  padding: 20px; /* 내부 여백 */
  font-size: 16px; /* 글자 크기 */
  text-align: center; /* 가운데 정렬 */
  color: #252E40;
  min-height: 400px; /* 최소 높이 */
}

section a {
  margin: 0 15px;
  color: #252E40;
  text-decoration: none;
}

footer {
  background: #252E40; 
  height: 50px; /* 푸터 높이 */
  line-height: 50px; /* 텍스트 세로 정렬 */
  color: #F2F2F2; /* 다크 브라운 */
  font-size: 14px; /* 글자 크기 */
  text-align: center; /* 가운데 정렬 */
  border-top: 1px solid #F2F2F2; /* 구분선 */
}
