<html xmlns:th="http://www.thymeleaf.org">

<body>
	<link href="/css/style_userform.css" rel="stylesheet" type="text/css" />
	<div th:replace="~{include/top}"></div>

	<script>
		function validateForm() {
			const username = document.getElementById('username').value;
			const usernameError = document.getElementById('usernameError');

			const password = document.getElementById('password').value;
			const confirmPassword = document.getElementById('confirmPassword').value;

			const passwordError = document.getElementById('passwordError');
			const confirmPasswordError = document.getElementById('confirmPasswordError');

			// 아이디 조건 확인 
			const usernameRegex = /^[a-zA-Z0-9]{6,16}$/;
			let isValid = true;
			if (!usernameRegex.test(username)) {
				usernameError.textContent = "아이디는 6~16자, 영문과 숫자만 가능합니다.";
				usernameError.style.color = "red";
				isValid = false;
			} else {
				usernameError.textContent = "";
			}

			// 비밀번호 조건 확인 
			const passwordRegex = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,16}$/;

			if (!passwordRegex.test(password)) {
				passwordError.textContent = "비밀번호는 8~16자, 문자, 숫자, 특수문자를 포함해야 합니다.";
				passwordError.style.color = "red";
				isValid = false;
			} else {
				passwordError.textContent = "";
			}

			// 비밀번호 확인
			if (password !== confirmPassword) {
				confirmPasswordError.textContent = "비밀번호가 일치하지 않습니다.";
				confirmPasswordError.style.color = "red";
				isValid = false;
			} else {
				confirmPasswordError.textContent = "";
			}
			alert("회원가입 성공" )
			return isValid;
		}
	</script>

	<section>
		<br>
		<div class="form-container">
			<h1>회원가입</h1>
			<form name="signupForm" method="post" action = "/login/userformOK" onsubmit="return validateForm()">
				<!-- 로그인 정보 -->
				<fieldset>
					<legend>로그인 정보</legend>
					<div class="form-row">
						<label for="username">아이디</label>
						<input type="text" id="username" name="username" placeholder="6~16자 / 영문, 숫자 사용 가능" required />
					</div>
					<div class="form-row-error">
						<span id="usernameError" class="error-message"></span>
					</div>
					<div class="form-row">
						<label for="password">비밀번호</label>
						<input type="password" id="password" name="password" placeholder="8~16자 / 문자, 숫자, 특수 문자 포함"
							required />
					</div>
					<div class="form-row-error">
						<span id="passwordError" class="error-message"></span>
					</div>
					<div class="form-row">
						<label for="confirmPassword">비밀번호 확인</label>
						<input type="password" id="confirmPassword" name="confirmPassword" placeholder="비밀번호를 다시 입력해주세요"
							required />
					</div>
					<div class="form-row-error">
						<span id="confirmPasswordError" class="error-message"></span>
					</div>
				</fieldset>

				<!-- 회원 정보 -->
				<fieldset>
					<legend>회원 정보</legend>
					<div class="form-row">
						<label>회원 유형</label>
						<div class="role-container">
							<input type="radio" id="member" name="role" value="ROLE_MEMBER" checked/>
							<label for="member" class="role-option">회원</label>
							<!-- 라디오 버튼과 라벨을 연결하려면, input의 id 속성과 label의 for 속성을 매칭해야 함 -->
							<input type="radio" id="admin" name="role" value="ROLE_ADMIN" />
							<label for="admin" class="role-option">관리자</label>
						</div>
					</div>
					<div class="form-row">
						<label for="name">이름</label>
						<input type="text" id="name" name="name" placeholder="실명을 입력해주세요" required />
					</div>
					<div class="form-row">
						<label for="phone">휴대전화</label>
						<input type="text" id="phone" name="phone" placeholder="010-xxxx-xxxx" required />
					</div>
					<div class="form-row">
						<label for="email">이메일</label>
						<input type="email" id="email" name="email" placeholder="이메일을 입력해주세요" required />
					</div>
				</fieldset>

				<!-- 가입 버튼 -->
				<div class="form-row">
					<button type="submit" class="btn-large">가입하기</button>
				</div>
			</form>
		</div>
		<br><br>
	</section>

	<div th:replace="~{include/bottom::footer}"></div>
</body>

</html>